@use "./public/branding/theme.sass" as *

// //////////////////////////////////////////////////////////
// Generic color utilities

.bg-base
  background-color: $base

.bg-instruments
  background-color: $light
  background-image: url('/branding/by_theme/light/Pattern.png')
  background-repeat: repeat
  background-size: 125%

  *
    color: black !important

// //////////////////////////////////////////////////////////
// Custom elements & components

.stripe-text
  position: absolute
  background: rgba(0, 0, 0, 0.4)
  left: 0
  right: 0
  width: 100%
  text-align: center
  top: 50%
  transform: translateY(-100%)
  padding: 0.5em 0

  &.is-lower
    top: 75%

// //////////////////////////////////////////////////////////
// Specific elements

#splash
  min-height: 50vh
  background-image: url('/images/Splash.jpg')
  background-size: cover
  background-position: 50% 90%
  background-repeat: no-repeat
  position: relative

#introducing-rozii
  padding-top: 0
  padding-bottom: 0

  #ad-1
    display: block
    max-height: 30em
    margin: -4em auto -1.5em

  #rozii-logo
    max-width: 26em

#user-trial
  padding-top: 0
  padding-bottom: 0

  #ad-2
    display: block
    max-height: 30em
    margin: -4em auto -1.5em

#user-trial
  .button
    padding: 0.5em 3.25em
    font-weight: 600

// //////////////////////////////////////////////////////////
// Specific Bulma overrides or extensions

.navbar
  align-items: flex-end

  .navbar-menu
    max-height: 2rem
    margin-bottom: 1em

    .navbar-end
      align-items: center

    .navbar-item
      &:not(:hover)
        color: white !important
      &:hover
        color: $primary !important

  *
    background: transparent !important

.title
  &.is-super
    font-size: 3.8rem
    line-height: 1.2
    font-weight: 600
  &:not(.is-super)
    font-weight: 500 !important

.content
  h2
    font-weight: 400
  h3
    font-weight: 500

.button
  border-radius: 0 !important

  &.is-outlined
    border-width: 4px !important
    --bulma-button-border-width: 4px !important

    &.is-primary
      &:hover
        background: $secondary !important
        color: white !important

// //////////////////////////////////////////////////////////
// Desktop sizing

// //////////////////////////////////////////////////////////
// Tablet sizing

// //////////////////////////////////////////////////////////
// Mobile sizing
